################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.manifest
*.exe
*.cache
*.txt
*.dll
/.vs/Grupp3 - Förskolan Drutten/v14/.suo
*.resources
*.pdb
/Grupp3 - Förskolan Drutten/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Grupp3 - Förskolan Drutten/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Grupp3 - Förskolan Drutten/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
