################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.config
*.manifest
*.exe
*.cache
*.txt
*.dll
/.vs/Grupp3 - Förskolan Drutten/v14/.suo
*.resources
*.pdb
